{% extends 'index.html' %}
{% set page_id = 'invoicing' %}
{% block content %}

<!-- Choose customer -->
{% if not selected_customer %}
<div class="container">
    <h3>Make Invoice</h3>
</div>
<div class="container">
    <h5>Choose customer by ID or name:</h5>
    <form method="POST">
      <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Customer ID</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-lg" name="customer_id" placeholder="ID">
        </div>
      </div>
        <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Customer Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-lg" id="colFormLabelLg" name="customer_name" placeholder="NAME">
        </div>
      </div>
        <div class="form-group row">
            <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Choose from list</label>
            <div class="col-sm-10">
                <select class="form-control form-control-lg " placeholder="NAME" name="customer_id_list">
                    <option selected>Choose...</option>
                    {% for customer in customers %}
                    <option value="{{customer.id}}">{{customer.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Submit</button>
            </div>
          </div>
    </form>
</div>
{% endif %}

<!-- Choose product -->
{% if selected_customer %}

<!-- table with customer info -->
<div class="container">
    <table class="table table-striped">
        <label>Selected Customer:</label>
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">NIP</th>
            <th scope="col">Adress</th>
            <th scope="col">Payment</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>{{selected_customer.customers_id}}</td>
        <td>{{selected_customer.name}}</td>
        <td>{{selected_customer.nip}}</td>
        <td>{{selected_customer.adress}}</td>
        <td>{{selected_customer.payment}}</td>
            </tr>
        </tbody>
    </table>
</div>

<!-- product select form -->
<div class="container">
    <h5>Choose product by ID or name:</h5>
    <form method="POST">
      <div class="form-group row">
        <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Product ID</label>
        <div class="col-sm-10">
          <input type="text" class="form-control form-control-lg" name="product_id" placeholder="ID">
        </div>
      </div>
        <div class="form-group row">
            <label for="colFormLabelLg" class="col-sm-2 col-form-label col-form-label-lg">Choose from list</label>
            <div class="col-sm-10">
                <select class="form-control form-control-lg " placeholder="NAME" name="product_id_list">
                    <option selected>Choose...</option>
                    {% for product in products %}
                    <option value="{{product.products_id}}">{{product.name}}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
          <div class="form-group row">
            <div class="col-sm-10">
              <button type="submit" class="btn btn-primary btn-lg btn-block">Add to basket</button>
            </div>
          </div>
    </form>
    <form method="POST">
        <div class="form-group row">
            <div class="col-sm-10">
              <input type="submit" class="btn btn-danger btn-lg btn-block" name="clean" value="Clean basket">
            </div>
          </div>
    </form>
</div>


<!-- selected products -->
    {% if basket %}

    <div class="container">
        <table class="table table-striped">
            <label>Selected Products</label>
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Group</th>
                <th scope="col">Qty</th>
                <th scope="col">Price</th>
                <th scope="col">Amount</th>
            </tr>
            </thead>
            <tbody>
         {% for product in basket %}
        <tr>
        <td>{{product.id}}</td>
        <td>{{product.product_name}}</td>
        <td>{{product.product_group}}</td>

         <!-- Choosing product's amount -->
        <td>
            <form method="POST">
                <div class="form-row">
                <div class="form-group col-md-6">
                  <select id="inputState" class="form-control" name="product_qty" onchange="this.form.submit()">
                    <option selected>Choose...</option>
                      {% for i in range(1, product.stock_quantity+1) %}
                    <option value="[{{product.id}}, {{i}}]">{{i}}</option>
                      {% endfor %}
                  </select>

                </div>
                </div>
            </form>
        </td>
        <td>{{product.product_price}}</td>
        <td>

        </td>
            </tr>
        {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
{% endif %}


<!-- Making invoice and cleaning basket button -->
{% if basket %}

<div class="container">
    <form method="POST">
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="submit" name="make_invoice" value="Make Invoice" class="btn btn-primary btn-lg btn-block">
            </div>
        </div>
    </form>
    </div>
{% endif %}
<!-- Modal -->
{% if new_invoice %}
<!-- Button trigger modal -->
<div class="container">
    <div class="form-group row">
        <div class="col-sm-10">
            <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#exampleModalLong">
              Show Invoice
            </button>
        </div>
        </div>
</div>
<div class="modal fade bd-example-modal-lg" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Invoice</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4">Stock Manager Sp. z o.o.<br>gen. Tadeusza Kutrzeby 10<br>61-719 Poznań<br>NIP: 123-456-00-00</div>
      <div class="col-md-4 ml-auto">Poznań, {{new_invoice.date.date()}}</div>
    </div>
      <div class="row">
          <div class="col">
              <br> <!--Pusty wiersz -->
          </div>
      </div>
    <div class="row">
      <div class="col-md-3 ml-auto"><b>Invoice</b><br>{{new_invoice.invoices_id}}/{{new_invoice.date.year}}</div>
      <div class="col-md-3 ml-auto">{{new_invoice.customer.name}}<br>{{new_invoice.customer.adress}}<br>{{new_invoice.customer.nip}}<br>ID: {{new_invoice.customer.customers_id}}</div>
    </div>
      <div class="row">
          <div class="col">
              <br> <!--Pusty wiersz -->
          </div>
      </div>
    <div class="row">
      <div class="col-md-6 ml-auto">Payment day: {{payment_day.date()}}<br>Account no 111222333444555</div>
    </div>
      <div class="row">
          <div class="col">
              <br> <!--Pusty wiersz -->
          </div>
      </div>

      <!--Table with items in modal -->
    <div class="row">
      <div class="col-sm-12">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Description</th>
              <th scope="col">Unit Cost</th>
              <th scope="col">Qty</th>
              <th scope="col">Amount</th>
            </tr>
          </thead>
          <tbody>
          {% for item in new_invoice.invoicing %}
            <tr>
              <td>{{item.name}} / Product code: {{item.products_id}}</td>
              <td>{{item.price}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.price * item.quantity}}</td>
            </tr>
          {% endfor %}
            <tr>
              <th class="text-right" scope="row" colspan="3">Subtotal</th>
              <td>100 PLN</td>
            </tr>
            <tr>
              <th class="text-right" scope="row" colspan="3">Tax</th>
              <td>23 PLN</td>
            </tr>
            <tr>
              <th class="text-right" scope="row" colspan="3">Total</th>
                <td><u>123 PLN</u></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}
