<!doctype html>
<html lang="en">
	<head>
	<!-- Required meta tags -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>Order_PDF</title>
	</head>
	<body>
	<!-- Invoice -->
		<div class="modal-content">
				<div class="modal-header">
				<h3>Order</h3> <h4>{{order.orders_id}}/{{order.date.year}}</h4>
				<hr>
				</div>
				<div class="modal-body">
					<div class="container-fluid">
						<div class="row">
							<div class="col-md-4 ml-auto">Poznań, {{order.date.date()}}</div>
							<div class="row">
								<div class="col">
									<br> <!--Pusty wiersz -->
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-4">Stock Manager Sp. z o.o.<br>gen. Tadeusza Kutrzeby 10<br>61-719 Poznań<br>NIP: 123-456-00-00</div>
						</div>
						<div class="row">
							<div class="col">
								<br> <!--Pusty wiersz -->
							</div>
						</div>
						<div class="row">
							<div class="col-md-3 ml-auto"><b>Supplier:</b><br></div>
							<div class="col-md-3 ml-auto">{{order.supplier.name}}<br>{{order.supplier.adress}}<br>{{order.supplier.nip}}<br>ID: {{order.supplier.suppliers_id}}</div>
						</div>
						<div class="row">
							<div class="col">
							<br> <!--Pusty wiersz -->
							</div>
						</div>
						<div class="row">
							<div class="col">
								<br> <!--Pusty wiersz -->
							</div>
						</div>
					<!--Table with items in modal -->
					<div class="row">
						<div class="col-sm-12">
							<table class="table">
								<thead>
									<tr>
										<th scope="col">Description</th>
										<th scope="col">Unit Cost</th>
										<th scope="col">Qty</th>
										<th scope="col">Amount</th>
									</tr>
								</thead>
								<tbody>
									{% for item in order.quantities %}
										<tr>
											<td>{{item.product.name}} / Product code: {{item.product.products_id}}</td>
											<td>{{item.product.price}}</td>
											<td>{{item.order_quantity}}</td>
											<td>{{item.total_price}}</td>
										</tr>
									{% endfor %}
										<tr>
											<th class="text-right" scope="row" colspan="3">Subtotal</th>
											<td>{{order.net}} PLN</td>
										</tr>
										<tr>
											<th class="text-right" scope="row" colspan="3">Discount</th>
											<td>{{order.supplier.discount}} </td>
										</tr>
										<tr>
											<th class="text-right" scope="row" colspan="3">Total</th>
											<td><u>{{order.sum}} PLN</u></td>
										</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>