{% extends "index.html" %}
{% from '_render_field.html' import render_field %}
{% set page_id = 'login' %}
{% block title %}Login{% endblock %}

{% block content %}
<div class="container container-fluid">
    <div class="card">
      <div class="card-header bg-secondary text-white">
        <strong>Leave application</strong><br>
        <strong>{{ username }}</strong>
      </div>
      <div class="card-body">

        <form class="form-signin" method="POST" action="{{ action }}">
          {{ form.csrf_token }}
          {{ render_field(form.start_date, class="col-sm-3") }}
          {{ render_field(form.end_date, class="col-sm-3") }}
          {{ render_field(form.exclude_weekends, class="col-sm-1") }}
          <div class="container">
            <button class="btn btn-md btn-primary" type="submit">Confirm</button>
            <a href="{{ action_cancel }}"><button class="btn btn-md btn-danger" type="button">Cancel</button></a>
          </div>
        </form>
      </div>
    </div>
</div>
{% endblock %}
