{% extends "index.html" %}
{% set page_id = 'signup' %}
{% block title %}Sign up{% endblock %}

{% block content %}
<!--<div class="container">-->
  <!--<form>-->
  <!--<div class="form-row">-->
    <!--<div class="col">-->
      <!--<input type="text" class="form-control" placeholder="First name">-->
    <!--</div>-->
    <!--<div class="col">-->
      <!--<input type="text" class="form-control" placeholder="Last name">-->
    <!--</div>-->
  <!--</div>-->
<!--</form>-->

<!--</div>-->
<!--<div class="content-section">-->
  <!--<div class="center">-->
    <!--<h1>Register for an account</h1>-->
    <!--<br/>-->
    <!--{{ wtf.quick_form(form) }}-->
  <!--</div>-->
<!--</div>-->

<div class="container">
  <form class="form form-horizontal" method="POST" action="/signup">
    {{ form.csrf_token }}
    {% for field in form.errors %}
{% for error in form.errors[field] %}
    <div class="alert alert-error">
        <strong>Error!</strong> {{error}}
    </div>
{% endfor %}
{% endfor %}
    {{ wtf.form_field(form.username, class="form-control form-control-sm", placeholder="Username") }}
    {{ wtf.form_field(form.email, class="form-control form-control-sm") }}
    {{ wtf.form_field(form.password, class="form-control form-control-sm") }}
    {{ wtf.form_field(form.confirm_password, class="form-control form-control-sm") }}
    {{ wtf.form_field(form.name, class="form-control form-control-sm") }}
    {{ wtf.form_field(form.address, class="form-control form-control-sm") }}
    {{ wtf.form_field(form.zip_code, class="form-control form-control-sm") }}
    {{ wtf.form_field(form.city, class="form-control form-control-sm") }}
    {{ wtf.form_field(form.phone_no, class="form-control form-control-sm") }}
    {{ wtf.form_field(form.birth_date, class="form-control form-control-sm") }}
    {% if error %}
      <div class="alert alert-danger" role="alert">Username already exists in database</div>
    {% elif success %}
      <div class="alert alert-success" role="alert">User added successfully</div>
    {% endif %}
    <button class="btn btn-sm btn-primary" type="submit">Sign up</button>
  </form>
</div>
{% endblock %}


